/*Footer*/
#footerPartners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media screen and (max-width: 769px) {
    #contact div{
        margin: 0 0 0 25%;
    }
    #imgPartners{
        width:100%;
    }
    #imgPartners img {
        width: 50%;
    }
}


@media screen and (min-width: 769px) {
    footer{
        display: grid;
        background-color:rgb(12,73,88);
        height:auto;
        padding-bottom:15px;
        grid-template-areas:
        "CA"
        "P";
    }    

    footer #CA{
        grid-area: CA;
        display: flex;
        justify-content: space-around;
    }
    footer #partners{
        grid-area: P;
    }
    footer h2{
        font-size:1.4rem;
        color:white;
        font-weight:bold;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }
    footer div section{
        width: 30vw;
    }
    #phone div, #mail div{
        margin-top: 8px;
    }
    #contact div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
    }
    #address address{
        display: flex;
        flex-direction: column;
    }
    #address address p{
        text-align: center;
    }
    #partners img{
        width: 17%;
        height: 100%;
        margin-left: 2%;
        margin-top: 2%;
    }
  footer  i{
        text-align: center;
        padding-top:1px;
        margin-right:10px;
        color:white;
    }
  footer  iframe{
    }
   footer a:hover {
       color: rgb(205, 183, 114);
   }
   footer a,p{
        width: auto;
        text-decoration: none;
        color:white;
        font-size: 0.8rem;
    }
    address p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
nav li:nth-child(3) a{
    color: rgb(205, 183, 114);
}

main h1{
    margin-top:70px;
    font-size:3rem;
    font-family: "Bebas Neue W01 Regular", serif;
    text-align: center;

}
body{
    color:rgb(12,73,88);
}
p{
    color: rgb(12,73,88);
    font-size:1rem;
    line-height:25px;

}
main{
    width:50vw;
    margin:auto;
}
article{
    color:rgb(12,73,88);
    margin: auto auto 20px;

}
#infoinschrijven{
    text-align:center;
}
 #note{
    text-align:center;
}
 video{
     margin-top:10px;
     margin-left:4vw;
     width:80%;
     margin-bottom:10px;
 }
  article a
  {
    color: rgb(173,153,100)
 }
 .center{
     text-align:center;
 }
 h4{
     margin-top:10px;
     font-size:1.2rem;
     font-family: "Bebas Neue W01 Regular", serif;
     text-align:center;
     margin-bottom:10px;
     color:rgb(173,153,100);
 }
 table{
     width:20vw;
     margin:auto;
 }
 table td{
     padding-top: 7px;
     padding-bottom: 7px;
 }
 .underline{
     border-bottom: 1px solid black;
 }
 tr{
    height:50%;
 }
b{
    font-weight: bold;
}
.center{
    text-align: center;
}
@media screen and (max-width: 769px) {
    main{
        width:75vw;
    }
    article p{
        text-align: left;
    }
    video{
        width:100%;
    }
    table{
        width: 80vw;
    }
    video {
        margin-left: 0;
    }
}


