body{
    color: rgb(12,73,88);
    background-color: white;
}
main{
    width: 35vw;
    margin: 5vh 32.5vw;
    font-size:1rem;
}
main h1{
    font-size: 4.5rem;
    font-family: "Bebas Neue W01 Regular", serif;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}
main article{
    width: 100%;
    height: auto;
    margin-top: 10px;
}
main article h2{
    padding-top: 15px;
    font-size: 2.5rem;
    padding-bottom: 10px;
    text-align: center;
    font-family: "Bebas Neue W01 Regular", serif;
}
main article p{
    padding: 0 20px 15px 20px;
    line-height: 20px;
}
main article img{
    width: 35vw;
    margin: 10px 0;
}
main article a{
    padding-top: 15px;
    color: rgb(173,153,100);
}
nav li:nth-child(2) a{
    color: rgb(205, 183, 114);
}

/****table****/

table{
    width: 35vw;
    margin: 15px 0;
}
td{
    width:20%;
    padding-top:10px;
    padding-bottom:10px;
}
tr{
    height:25px;


}
.bold{
 font-weight:bold;
}
.borderbottom{
    margin-top:10px;
    border-bottom: 1px solid rgb(12,73,88);
}
#footerPartners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#reserveren{
    text-decoration:none;
    width: 100%;
    display:flex;
    justify-content: center;
    
}
#reserveren button{
    background-color: rgb(12,73,88);
    color:white;
    border:none;
    font-size:1.2rem;
    padding:15px;
    cursor:pointer;
    border-radius:3px;
    font-weight:bold;
}
#reserveren button:hover{
    text-decoration:underline;
}


/*************/
@media screen and (max-width: 769px) {
    article ul li {
        font-size: 0.8rem;
        line-height: 20px;
    }
    main h1{
        margin-bottom:30px;
    }
    main h2{
       padding-top:0;
    }
    main{
        width:70vw;
        margin-left:15vw;
        margin-right:15vw;
    }

    p{
        color: rgb(12,73,88);
    }
    main article img{
        position:relative;
        width:60vw;
        margin: 1px 5vw;
    }
    main article{
        width: auto;
        margin-top: 20px;
    }
    main article p{
        text-align: left;
        line-height: 20px;
    }
    p{
        color: rgb(12,73,88);
    }
    #contact div{
        margin: 0 0 0 25%;
    }
    table{
        font-size: 0.71rem;
        width:70vw;
    }
    #imgPartners{
        width:100%;
    }
    #imgPartners img {
        width: 50%;
    }
}


    /*Footer*/
@media screen and (min-width: 769px) {

    footer{
        display: grid;
        background-color:rgb(12,73,88);
        height:auto;
        padding-bottom:15px;
        grid-template-areas:
        "CA"
        "P";
    }    

    footer #CA{
        grid-area: CA;
        display: flex;
        justify-content: space-around;
    }
    footer #partners{
        grid-area: P;
    }
    footer h2{
        font-size:1.4rem;
        color:white;
        font-weight:bold;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }
    footer div section{
        width: 30vw;
    }
    #phone div, #mail div{
        margin-top: 8px;
    }
    #contact div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
    }
    #address address{
        display: flex;
        flex-direction: column;
    }
    #address address p{
        text-align: center;
    }
    #footerPartners{
        display: flex;
    }
    #partners img{
      width: 17%;
        height: 100%;
        margin-left: 2%;
        margin-top: 2%;
    }
    i{
        text-align: center;
        padding-top:1px;
        margin-right:10px;
        color:white;
    }
    iframe{
    }
    a:hover{
        color:gold;
    }
   footer a,p{
        width: auto;
        text-decoration: none;
        font-size: 1rem;
    }
    a{
        color: white;
    }
    address p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
#contactinterclub{
    text-align:center;
}
#ulinter{
    margin-left:1vw;
    margin-bottom:10px;
}
