main h1 {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 4.5rem;
    font-family: "Bebas Neue W01 Regular", serif;
    text-align: center;
    color: rgb(12,73,88);
}
h3{
    margin:auto;
    text-align: center;
    color:white;
}

main div{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
main .fa, main .material-icons {
    font-size: 3rem;
    position: absolute;
    top: 15px;
}
main section{
    margin-top: 100px;
    width: 350px;
    min-height: 30vh;
    background-color:rgb(12,73,88);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
main section h2{
    margin-top: 50px;
    font-size: 2rem;
    margin-bottom: 15px;
}
main section a{
    color: white;
    text-decoration: none;
    line-height: 25px;
    font-size: 0.9rem;
}
main section a:hover{
    color: rgb(205, 183, 114);
}
#footerPartners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav li:nth-child(5) a{
    color: rgb(205, 183, 114);
}

/*Footer*/
@media screen and (max-width: 769px) {

    main div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main section{
        margin-top: 100px;
        width: 75vw;
        min-height: 50vh;
    }
    #imgPartners{
        width:100%;
    }
    #imgPartners img {
        width: 50%;
    }
    main h1 {
        margin-bottom: 0;
    }

}


@media screen and (min-width: 769px) {
     footer{
        display: grid;
        background-color:rgb(12,73,88);
        height:auto;
        padding-bottom:15px;
        grid-template-areas:
        "CA"
        "P";
    }    

    footer #CA{
        grid-area: CA;
        display: flex;
        justify-content: space-around;
    }
    footer #partners{
        grid-area: P;
    }
    footer h2{
        font-size:1.4rem;
        color:white;
        font-weight:bold;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }
    footer div section{
        width: 30vw;
    }
    footer #phone div, footer #mail div{
        margin-top: 8px;
    }
    #contact div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
    }
    #address address{
        display: flex;
        flex-direction: column;
    }
    #address address p{
        text-align: center;
    }
    #partners img{
        width: 20%;
        height: 100%;
        margin-left: 2%;
        margin-top: 2%;
    }
    footer i{
        text-align: center;
        padding-top:1px;
        margin-right:10px;
        color:white;
    }
    iframe{

    }
    footer a:hover{
        color: rgb(205, 183, 114);
    }
    footer a, footer p{
        width: auto;
        text-decoration: none;
        color:white;
        font-size: 0.8rem;
    }
    address p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}