body{
    overflow-y: hidden;
    overflow-x: hidden;
}
video{
    width: 100vw;
}
#logo{
    width:55%;
    margin-top:15%;
    position:fixed;
    text-align: center;
    margin-left:22.5%;
    margin-right: 22.5%;
}
#logo img{
    width:28%;
}
#footerPartners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
nav li:nth-child(1) a{
    color: rgb(205, 183, 114);
}
@media screen and (min-width: 769px) {
    #partners img{
        width: 40%;
        margin-left: 2%;
        margin-top: 2%;
    }
}
@media screen and (max-width: 769px) {
    #logo{
        margin-top:15vw;
    }
    #logo img {
        width:40%;
    }

    #logo{
        position: absolute;
    }
    body{
        overflow-y: visible;
    }
    #imgPartners{
        width:100%;
    }
    #imgPartners img {
        width: 50%;
    }
    footer{
        margin-top:-2.3vh;
    }
}