/*-------------------------NAV-----------------------------------*/
nav li:nth-child(6) a{
    color: rgb(205, 183, 114);
}
/*-------------------------MAIN----------------------------------*/
main h1{ 
    margin-top:70px;
    margin-bottom:70px;
    font-size:4.5rem;
    font-family: "Bebas Neue W01 Regular", serif;
    text-align:center;
    color: rgb(12,73,88);
}
/*-------------------------MAIN IMAGES PARTNERS-------------------*/
#imgPartners{
    width: 90%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
}
#imgPartners div{
    flex: 1 0 33%;
    background-repeat: no-repeat;
    position: relative;
    width: 15vw;
    margin: 0 0 5vw 0;
}
#imgPartners div i{
    position: absolute;
    bottom: 0;
    right: 0;left: 0;
    font-size:1.5rem;
    font-family: "Bebas Neue W01 Regular", serif;
    color: rgb(12,73,88);
}
#logoYeti{
    background-image: url(../../images/logoYeti.png);
    background-position: center top;
    background-size: 65%;
    height: 18vh;
}
#serruyslogo{
    background-image: url(../../images/serruyslogo.png);
    background-position: center top;
    background-size: 65%;
    height: 18vh;
}
#logo_gare_de_robe{
    background-image: url(../../images/logo_gare_de_robe.png);
    background-position: center top;
    background-size: 65%;
    height: 18vh;
}
#sponsorlogo{
    background-image: url(../../images/sponsorlogo.png);
    background-position: center top;
    background-size: 65%;
    height: 25vh;
}
#rooryck{
    background-image: url(../../images/rooryck.png);
    background-position: center top;
    background-size: 65%;
    height: 25vh;
}
#burger{
    background-image: url(../../images/burger_grey.png);
    background-position: center top;
    background-size: 65%;
    height: 25vh;
}
#Alexandra{
    background-image: url(../../images/Alexandra.png);
    background-position: center top;
    background-size: 35%;
    height: 35vh;
}
#LogoCar_cost_advisor{
    background-image: url(../../images/LogoCar_Cost_Advisor_kleur.png);
    background-size: 50%;
    background-position: center top;
    background-position-y: -8vh;
    height: 35vh;
}  
/*------------------------FOOTER-------------------------------------*/
#footerPartners{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 769px) {
    #contact div{
        margin: 0 0 0 25%;
    }
    img{
        width:90%;

    }
    main h1{
        font-size:2.5rem;
        margin-bottom:10px;
    }
    #imgPartners{
        width:100%;
    }
    #imgPartners img {
        width: 50%;
    }
}


@media screen and (min-width: 769px) {
     footer{
        display: grid;
        background-color:rgb(12,73,88);
        height:auto;
        padding-bottom:15px;
        grid-template-areas:
        "CA"
        "P";
    }    

    footer #CA{
        grid-area: CA;
        display: flex;
        justify-content: space-around;
    }
    footer #partners{
        grid-area: P;
    }
    footer h2{
        font-size:1.4rem;
        color:white;
        font-weight:bold;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }
    footer div section{
        width: 30vw;
    }
    #phone div, #mail div{
        margin-top: 8px;
    }
    #contact div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
    }
    #address address{
        display: flex;
        flex-direction: column;
    }
    #address address p{
        text-align: center;
    }
    #partners img{
        width: 17%;
        height: 100%;
        margin-left: 2%;
        margin-top: 2%;
    }
    i{
        text-align: center;
        padding-top:1px;
        margin-right:10px;
        color:white;
    }
    a:hover{
        color: rgb(205, 183, 114);
    }
    a,p{
        width: auto;
        text-decoration: none;
        color:white;
        font-size: 0.8rem;
    }
    address p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
  
