body {
	color: rgb(12, 73, 88);
	background-color: white;
}

nav li:nth-child(4) a {
	color: rgb(205, 183, 114);
}

main {
	width: 45vw;
	margin: auto;
	font-size: 1rem;
}

main h1 {
	font-size: 4.5rem;
	font-family: "Bebas Neue W01 Regular", serif;
	text-align: center;
	margin-top: 70px;
	margin-bottom: 20px;
}

main article {
	width: 100%;
	height: auto;
	margin-top: 10px;
	position: relative;
}

main article a {
	text-decoration: none;
	width: 100%;
	display: flex;
	justify-content: center;
}

main article a button {
	background-color: rgb(12, 73, 88);
	color: white;
	border: none;
	font-size: 1.2rem;
	padding: 15px;
	border-radius: 3px;
	cursor: pointer;
}

main article a button:hover {
	text-decoration: underline;
}

main article h2 {
	padding-top: 15px;
	font-size: 2.5rem;
	padding-bottom: 10px;
	text-align: center;
	font-family: "Bebas Neue W01 Regular", serif;
}

main article p {
	padding: 0 20px 15px 20px;
	line-height: 20px;
}

main article img {
	width: 45vw;
	margin: 10px 0;
}

main article a {
	padding-top: 15px;
	color: rgb(205, 183, 114);
}

ul li {
	margin: 20px 0 20px 0;
}

.sub {
	margin: -15px 0 0 25px;
	color: rgb(187, 187, 69);
}

/****************************/

.number {
	background: rgb(12, 73, 88);
	border-radius: 50%;
	width: 2.5vw;
	height: 5vh;
	color: white;
	margin-top: -6vh;
	position: relative;
	margin-right: 6vw;
	z-index: 1;
	top: 6vh;

}
.ruleText {
    margin-left:3vw;
}
.number span {
	margin-left: 0vw;
	margin-top: 0.8vh;
	font-weight: bold;
}

.number2 {
	background: rgb(12, 73, 88);
	border-radius: 50%;
	width: 2.5vw;
	height: 5vh;
	color: white;
	margin-top: -6vh;
	position: relative;
	margin-right: 6vw;
	z-index: 1;
	top: 6vh;
}

.number2 span {
	margin-top: 0.8vh;
    text-align: center;
	font-weight: bold;
}

.rule {
	box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
	background: white;
	height: 7vh;
	padding: 1vw;
	margin-bottom: 6vh;
}

.rule span {
	line-height: 4vh;
	display: block;
}
.rule .numbers {

    margin-top: 1vh;
    padding-top: 0.6vh;
}

#long {
	height: 10vh;
}

#number1 {
    height:11vh;
}


/********************************/
@media screen and (min-width: 769px) {
    footer{
        display: grid;
        background-color:rgb(12,73,88);
        height:auto;
        padding-bottom:15px;
        grid-template-areas:
        "CA"
        "P";
    }    

    footer #CA{
        grid-area: CA;
        display: flex;
        justify-content: space-around;
    }
    footer #partners{
        grid-area: P;
    }
    footer h2{
        font-size:1.4rem;
        color:white;
        font-weight:bold;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }
    footer div section{
        width: 30vw;
    }
    #phone div, #mail div{
        margin-top: 8px;
    }
    #contact div{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3px;
    }
    #address address{
        display: flex;
        flex-direction: column;
    }
    #address address p{
        text-align: center;
    }
    #partners img{
        width: 17%;
        height: 100%;
        margin-left: 2%;
        margin-top: 2%;
    }
  footer  i{
        text-align: center;
        padding-top:1px;
        margin-right:10px;
        color:white;
    }
  footer  iframe{
    }
   footer a:hover {
       color: rgb(205, 183, 114);
   }
   footer a,p{
        width: auto;
        text-decoration: none;
        color:white;
        font-size: 0.8rem;
    }
    address p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #footerPartners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
}


#note{
    margin-top:5vh;
    text-align:center;
}
#reserverennew {
    margin-bottom: 3vh;
}

@media screen and (max-width: 769px) {
    main h1{
        margin-bottom:30px;
    }
    main h2{
       padding-top:0;
    }
    main{
        width:70vw;
        margin-left:15vw;
        margin-right:15vw;
    }

    p{
        color: rgb(12,73,88);
    }
    main article img{
        position:relative;
        width:60vw;
        margin: 1px 5vw;
    }
    main article{
        width: auto;
        margin-top: 20px;
    }
    main article p{
        text-align: left;
        line-height: 20px;
    }
    p{
        color: rgb(12,73,88);
    }
}
@media screen and (max-width: 800px) {
    .rule {
        height: 38vh;
    }
    .number, .number2 {
        margin-right:auto;
        margin-left: auto;
        width: 10vw;
    }
    .number2 {
        margin-bottom: 8vh;
    }
    #longnumber {
        margin-top: -5vh;
    }
    #long {
        height: 51vh;
    }

}