@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@font-face
{
    font-family:"Bebas Neue W01 Regular";
    src:url("../Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix");
    src:url("../Fonts/1444649/3d9ec9a9-76a2-4cfe-b376-76e7340c3b50.eot?#iefix") format("eot"),url("../Fonts/1444649/e0d6f852-5401-4bbf-9672-47a50c5c87c6.woff2") format("woff2"),url("../Fonts/1444649/7fedd582-6ae3-4850-be2f-4acae2e74fa5.woff") format("woff"),url("../Fonts/1444649/d6e08ef3-40db-4ac3-82df-f062f55a72f5.ttf") format("truetype");
}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
}
nav{
    background:rgb(12,73,88);
}
nav h1{
    padding-top:10px;
    padding-bottom:10px;
    background:rgb(12,73,88);
    position: relative;
    z-index: 999;
}
nav ul{
    margin:auto;
    display: flex;
    justify-content: center;
}
nav ul li{
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    display:inline-block;
    margin: 0 17px;
}
nav ul li a, nav h1{
    color:white;
    text-decoration: none;
    font-family: "Bebas Neue W01 Regular", serif;
    font-size:2rem;
    text-align:center;
}
nav a:hover{
    color: rgb(205, 183, 114);
}
h3{
    font-family: "Bebas Neue W01 Regular", serif;
    font-size:1.9rem;
    text-align:center;
    margin-top:20px;

}
#arrowDown, #backToTop{
    position: absolute;
    z-index: 1;
    background: url("../media/sort-down.png") no-repeat center;
    background-size: 30%;
    height: 5vh;
    width: 10%;
    left: 45%;
    right: 45%;
    cursor: pointer;
    transition: top 1s, margin-top 1s;
}
#backToTop{
    background: url("../media/sort-down.png") no-repeat center 15px;
    background-size: 30%;
    height: 10%;
    position: fixed;
    left: 90%;
    right: 10%;
    bottom: 1%;
    color:rgb(12,73,88);
    text-decoration: none;
}
#backToTop p{
    text-align: center;
}

.rotateimg {
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*.rotateToNormal{
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}*/
#backToTop:hover p{
    -webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.closeNav{
    transition: margin-top 1s;
    margin-top: -50px;
    z-index: -1;
}
.openNav{
    margin-top: 0;
}
.closeArrow{
    top: 50px;
}
.openArrow{
    top: 100px;
}


.hidden{
    display: none;
}
 #webdream{
    margin-top:2px;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 769px) {
    main{
        min-height: 100vh;
    }
    footer {
        display: none;
        height:50vh;
    }
}
@media screen and (max-width: 769px) {
    hr{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    section{
        margin-bottom:-3px;
    }
    footer{
        background-color:rgb(12,73,88);
        display: block;
    }

    footer h2{
        font-size:1.4rem;
        color:white;
        font-weight:bold;
        text-align:center;
        padding-top: 8px;
        margin-bottom: 10px;
    }

    footer #phone, footer #mail{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0 20px 25%;
    }
    footer #phone div, footer #mail div{
        display:flex;
        flex-direction: row;
        margin-top: 8px;
    }
    i{
        text-align: center;
        padding-top:1px;
        margin-right:10px;
        color:white;
    }
    footer iframe{
        width:90%;
        margin: 20px 5%;
    }
    #partners{
        text-align:center;
    }
    a:hover{
        color: rgb(205, 183, 114);
    }
    a,p{
        width: auto;
        text-decoration: none;
        color:white;
        text-align: center;
        font-size: 0.8rem;
    }
    address p{
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #contact div {
        margin: 0 0 0 25%;
    }
    img{
        width:20%;
    }
    nav ul{
        display: flex;
        flex-direction: column;
    }
    #partners img{
        margin-top: 8px;
        margin-bottom: 8px;
        width: 50%;
        height:100%;
        margin-left: 2%;
    }
    .closeNav{
        margin-top: -310px;
    }
    .openNav{
        margin-top: 0;
    }
    #arrowDown{
        width: 30%;
        left: 35%;
        right: 35%;
    }
    .closeArrow{
        margin-top: 4px;
    }
    .openArrow{
        margin-top: 260px;
    }
    .material-icons, .fa{
        font-size: 0.8rem;
    }
}


